.login-bg {
  background: url('../../assets/images/bladegrass.jpg') center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  backdrop-filter: blur(10px);
  background-color: rgb(39 35 35 / 20%);
  border: 1px solid 1px solid rgb(134 140 133 / 30%);
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 4px 16px rgb(255 255 255 / 24%);
}

input.glass::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button.glass {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

button.glass:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
