<div class="row m-0 p-0 justify-content-center align-items-center login-bg">
    <div class="col-6">
        <div class="card glass">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 row" >
                        <label  class="col-sm-4 col-form-label">User Name</label>
                        <div class="col-sm-8">
                          <input type="text"  formControlName="username" class="form-control glass">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                          <input type="password" formControlName="password" class="form-control glass" id="inputPassword">
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary glass" > Login </button>
                            <button type="submit" class="btn btn-warning ms-2 glass" (click)="registerClick()"> Register </button>
                          </div>
                      </div>
                </form>
               
            </div>
        </div>
    </div>
</div>

