<div class="container-fluid m-0 p-0 my-2 bg-lite">
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col-auto pe-0">
          <svg preserveAspectRatio="none" data-bbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#eea302" viewBox="0 0 200 200" role="img" aria-label="Homepage">
            <g>
                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
            </g>
        </svg>
        </div>
        <div class="col ps-0 mt-1">
          <span class="fw-bold ps-1" style="font-size: 16px;">Laxman Bairu</span><span class="ps-2" style="font-size: 10px;">Web Developer</span>
        </div>
      </div>
        
    </div>
    <div class="col text-end mx-2 my-2">
      <a class="btn" (click)="Logout()">Logout</a>
    </div>
  </div>
</div>
