<div class="row m-0 p-0 justify-content-center align-items-center  login-bg">
    <div class="col-6">
        <div class="card glass">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3 row" >
                            <label  class="col-sm-4 col-form-label">User Name <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                            <input type="text"  formControlName="id" class="form-control glass">
                            </div>
                        </div>
                        <div class="mb-3 row" >
                            <label  class="col-sm-4 col-form-label">Name<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                            <input type="text"  formControlName="name" class="form-control glass">
                            </div>
                        </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Password<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                          <input type="password" formControlName="password" class="form-control glass" id="inputPassword">
                        </div>
                      </div>
                      <div class="mb-3 row" >
                        <label  class="col-sm-4 col-form-label">Email<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                        <input type="text"  formControlName="email" class="form-control glass">
                        </div>
                    </div>
                      <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary glass"> Submit </button>
                            <button type="submit" class="btn btn-secondary ms-3 glass" (click)="cancelclick()"> Cancel </button>
                          </div>
                      </div>
                </form>
               
            </div>
        </div>
    </div>
</div>

